$whiteColor: #eee;
$bgColor: #131313;
$secondaryColor: #e2bd92;
$btnColor: #9d7d58;
$filterBtnBg: rgba($secondaryColor, 0.3);
$filterBtnColor: #f9f9f9;
$navLinkColor: #bbb;
$navBgColor: #443019;
$sliderBg: #2b2b2b;

$fontPoppins: "Poppins", sans-serif;
$fontBaloo: "Baloo 2", cursive;
$heroTextFontSize: 2.1rem;
