@use "../partials/mixins" as *;

.header {
  margin-top: 1.5rem;

  @include mediaQuery(bigTablet) {
    margin-top: 3.5rem;
  }

  .logo-nav-wrapper {
    height: 9vh;
    @include containerWidth;
    @include flex(space-between, center);
  }

  .logo {
    font-size: 1.5rem;
    color: $secondaryColor;
    font-family: $fontBaloo;
    letter-spacing: 4px;
    font-weight: 500;
    z-index: 3;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 100%;
    transform: translateX(-50%);
    background-color: $navBgColor;
    padding: 1rem 0 1rem 2rem;
    clip-path: circle(100px at 50% -20%);
    -webkit-clip-path: circle(100px at 50% -20%);
    transition: all 1s ease-in-out;
    z-index: 2;

    @include mediaQuery(bigTablet) {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(0%);
      padding: 0;
      background: none;
      clip-path: none;
      -webkit-clip-path: none;
    }

    &.open {
      clip-path: circle(1100px at 50% -20%);
      -webkit-clip-path: circle(1100px at 50% -20%);
    }

    .nav-wrapper {
      @include flex(center, flex-start, column);
      width: 90%;
      height: 100%;

      @include mediaQuery(bigTablet) {
        @include flex(flex-end, center, row);
        width: 100%;
      }
    }

    &-links {
      position: relative;
      color: $whiteColor;
      font-size: 1.45rem;
      font-family: $fontPoppins;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      @include mediaQuery(bigTablet) {
        font-size: 1.4rem;
        color: $navLinkColor;

        &:not(:last-child)::before {
          content: "";
          position: absolute;
          bottom: -0.3125rem;
          left: 0;
          width: 0%;
          height: 0.125rem;
          background-color: $whiteColor;
          transition: all 0.3s ease-in-out;
        }

        &:not(:last-child):hover::before {
          width: 100%;
        }
      }

      &:not(:last-child) {
        margin: 0 0 3rem 0;

        @include mediaQuery(bigTablet) {
          margin: 0 4rem 0 0;
        }
      }
    }

    &-links.selected {
      transition: all 0.3s ease-in-out;

      &:not(:last-child)::before {
        width: 100%;
      }
    }

    .cart-icon svg {
      @include flex();
      width: 2.2rem;
    }

    .cart-icon.selected svg path {
      fill: $secondaryColor;
    }
  }

  .hamburger {
    z-index: 3;
    background: transparent;
    border: transparent;
    width: 3.4rem;
    height: 3.4rem;

    @include mediaQuery(bigTablet) {
      display: none;
    }

    &-img {
      width: 100%;
    }
  }
}
