.cart-container {
  text-align: center;
  margin: 4.875rem 0;

  .cart-items-wrapper {
    margin: 1.5625rem auto;
    max-width: 59rem;
  }

  .cart-items {
    @include flex(flex-start, center, row);
    padding: 2.1875rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid $cartDividerColor;
    }

    .image-container {
      width: 7.5rem;
      margin-right: 1.3rem;

      @include mediaQuery(tablet) {
        width: 11rem;
        margin-right: 3.5rem;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .cart-item-details {
      text-align: left;
      flex: 1;

      @include mediaQuery(bigTablet) {
        @include flex(space-between);
      }

      .name {
        font-weight: 500;
        font-size: 1.15rem;

        @include mediaQuery(tablet) {
          font-size: 1.3rem;
        }

        @include mediaQuery(bigTablet) {
          font-size: 1.5rem;
          width: 30%;
        }
      }

      .quantity {
        @include flex(flex-start);
        margin: 1.2rem 0;

        &-btn {
          font-size: 1.45rem;
        }

        .number {
          margin: 0 1.5rem;
        }

        @include mediaQuery(tablet) {
          margin: 1.7rem 0;

          .number {
            margin: 0 1.9rem;
          }
        }
      }

      .price {
        font-family: $fontBaloo;
        font-size: 1.5rem;
        color: $secondaryColor;

        @include mediaQuery(bigTablet) {
          font-size: 1.75rem;
        }
      }
    }
  }

  .prompt {
    font-size: 1.375rem;
    padding: 0 2.5rem;
    margin: 4.6rem 0 3.7rem;
    letter-spacing: 2px;

    @include mediaQuery(bigTablet) {
      font-size: 1.5rem;
    }
  }
}

.cart-loader-container {
  @include flex(center, center, column);
  @include overlay($bgColor, fixed);

  p {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}
