.products-nav-container {
  margin: 4.875rem 0;

  .subtitle {
    font-family: $fontPoppins;
    font-style: italic;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-align: center;
    color: #aaa;
    margin-top: 1rem;

    @include mediaQuery(bigTablet) {
      font-size: 1.1rem;
    }
  }

  .nav-btn-wrapper {
    @include containerWidth(100%);
    @include flex();
    flex-wrap: wrap;
    margin-top: 1.8rem;

    @include mediaQuery(bigTablet) {
      @include containerWidth();
      margin-top: 2rem;
    }
  }

  .filter-btn {
    margin-bottom: 1rem;

    &:not(:last-child) {
      margin-right: 0.7rem;
    }

    @include mediaQuery(bigTablet) {
      margin-bottom: 0;
    }
  }
}

.products-category-section {
  .products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3.45rem 3rem;

    .product {
      position: relative;
      cursor: pointer;
      display: block;
      padding-bottom: 0.7rem;

      &::before {
        content: "";
        @include overlay($overlay);
        pointer-events: none;
      }
    }

    .product-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }

    .product-details {
      @include flex(space-between, flex-start);
      font-weight: 500;
      margin-top: 1rem;

      @include mediaQuery(bigTablet) {
        padding: 0 1.3rem;
      }
    }

    .name {
      font-size: 1.135rem;
      margin-right: 2rem;
      line-height: 1.5;
      color: $whiteColor;

      @include mediaQuery(bigTablet) {
        font-size: 1.2rem;
      }
    }

    .price {
      font-size: 1.375rem;
      color: $secondaryColor;
      font-family: $fontBaloo;

      @include mediaQuery(bigTablet) {
        font-size: 1.5rem;
      }
    }
  }
}

.product-details-wrapper {
  @include flex(flex-start, center, column);
  margin: 4rem 0;

  @include mediaQuery(bigTablet) {
    @include flex(flex-start, center, row);
  }

  .image-container {
    @include flex();
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;

    &::before {
      content: "";
      @include overlay($overlay);
    }

    @include mediaQuery(tablet) {
      height: 640px;
    }

    @include mediaQuery(bigTablet) {
      width: 50%;
      margin: 0 5.5rem 0 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-details {
    text-align: center;

    @include mediaQuery(bigTablet) {
      text-align: left;
    }

    .name {
      font-size: 1.7rem;
    }

    .quantity {
      @include flex();
      margin: 2rem 0;

      @include mediaQuery(bigTablet) {
        @include flex(flex-start);
        margin: 3.5rem 0;
      }

      .number {
        font-size: 1.5rem;
        margin: 0 2rem;
      }
    }

    .price {
      color: $secondaryColor;
      font-size: 2rem;
      margin-bottom: 3rem;

      @include mediaQuery(bigTablet) {
        @include flex(flex-start);
      }
    }
  }
}

.product-prompt-container {
  @include flex(center, center, column);
  height: 45vh;

  .prompt {
    text-align: center;
    font-size: 1.4rem;
    max-width: 600px;
    line-height: 1.8;
    letter-spacing: 2px;
  }

  .cta-btn {
    margin-top: 4rem;
  }
}

.pagination {
  margin: 4rem 0;
  @include flex();

  &-number-wrapper {
    @include flex();
  }
}
