.gallery-section {
  width: 90%;
  margin: 10rem auto;
}

.gallery-section .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 0 0.9rem;
}

.gallery-section .gallery-container::-webkit-scrollbar {
  width: 10px;
}

.gallery-section .gallery-container::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #2b2b2b;
}

.gallery-section .gallery-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #855823;
}

.gallery-section .gallery-container .gallery-image {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}
