@import "config";

.gallery-section {
  .section-title {
  }

  .gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem 0;
    flex-wrap: nowrap;
    overflow-x: scroll;

    .gallery-image {
      position: relative;
      display: inline-block;
      width: 70%;
      height: 400px;
      object-fit: cover;
    }
  }
}
