@import "config";

.hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  .hero-section {
    @include containerWidth();
    height: 100%;
  }

  .hero-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 65%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
  }

  .text-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-text {
      font-family: $fontBaloo;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;

      @include mediaQuery(tablet) {
        font-size: 2.7rem;
        letter-spacing: 4px;
      }

      @include mediaQuery(bigTablet) {
        font-size: 3.3rem;
        letter-spacing: 6px;
        word-spacing: 10px;
      }

      @include mediaQuery(desktop) {
        font-size: 3.8rem;
      }
    }
  }
}

.header {
  .logo-nav-wrapper {
    margin: 1rem 0 0;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.6rem;
    color: $secondaryColor;
    font-family: $fontBaloo;
    letter-spacing: 4px;
    font-weight: 500;
    z-index: 3;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transform: translateX(-50%);
    background-color: $navBgColor;
    padding: 1rem 0 1rem 2rem;
    clip-path: circle(100px at 50% -20%);
    -webkit-clip-path: circle(100px at 50% -20%);
    transition: all 1s ease-in-out;

    @include mediaQuery(bigTablet) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(0%);
      padding: 0;
      background: none;
      clip-path: none;
      -webkit-clip-path: none;
    }

    &.open {
      clip-path: circle(1100px at 50% -20%);
      -webkit-clip-path: circle(1100px at 50% -20%);
    }

    &-links {
      color: $whiteColor;
      font-size: 1.7rem;
      font-family: $fontBaloo;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      @include mediaQuery(bigTablet) {
        font-size: 1.5rem;
        padding: 0 0.5rem;
        color: $navLinkColor;

        &:hover {
          color: $secondaryColor;
        }
      }

      &:not(:last-child) {
        margin: 0 0 3rem 0;

        @include mediaQuery(bigTablet) {
          margin: 0 1.4rem 0 0;
        }
      }
    }
  }

  .hamburger {
    z-index: 3;
    background: transparent;
    border: transparent;
    width: 3.4rem;
    height: 3.4rem;

    @include mediaQuery(bigTablet) {
      display: none;
    }

    &-img {
      width: 100%;
    }
  }
}
