@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");

@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontPoppins;
  color: $whiteColor;
  background-color: $bgColor;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  line-height: 1.7;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.container {
  @include containerWidth();
}

.section-title {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 0 0 1rem;
}
